<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/users" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password">
        <br>
        <label for="repassword">Retype Password</label>
        <input type="password" name="repassword">
        <br>
        <label for="name">Name</label>
        <input type="text" name="name">
        <br>
        <label for="email">Email</label>
        <input type="email" name="email">
        <br>
        <label for="gender">Gender</label>
        <input type="text" name="gender">
        <br>
        <label for="win">Win</label>
        <input type="number" name="win">
        <br>
        <label for="loss">Loss</label>
        <input type="number" name="loss">
        <br>
        <label for="hrsplay">Hours Played</label>
        <input type="number" name="hrsplay">
        <br>
        <label for=""><%= warning %></label>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>