
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    

    <!-- Font import Start -->
    <!-- Bebas Neue -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Font import End -->
    <title>Challange 1</title>
</head>
<body>
  <%- include ("header.ejs") -%>
    <!-- Start Section 1 -->
    <div class="bg-image" id="section1">
    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark-opacity fixed-top" id="navbar">
          <a class="navbar-brand md-5" href="#">LOGO</a>
        <!-- Make hamburger icon when the screen size reduced -->
        <!-- Target the id navbarNav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Initialize that this navbar will collapse (shrink) when the screen size is reduced and the content will be move to the hamburger icon-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="navbar-content">
                <li class="nav-item">
                    <a href="#" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about-us" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/work" class="nav-link">Work</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto" id="navbar-sign">
                <li class="nav-item">
                    <a href="/sign" class="nav-link">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link" id="login"><%= loginText %></a>
                </li>
            </ul>
        </div>
        </nav>
        <!-- Play Now Section -->
        <div class="container-fluid d-flex flex-column align-items-center" id="section1-text">
            <div class="container-fluid">
                    <h1 class="h1">Play Traditional Game</h1>
                    <h3 class="h3">Experience new traditional gameplay</h3>
                    <a href="/play">
                      <button class="btn btn-warning btn-lg mb-4">Play Now</button>
                    </a>
            </div>
            <div class="container-fluid text-center position-absolute bottom-0 start-50 translate-middle-x">
                <div class="">
                  <h2>The story</h2>
                </div>
                <div class="">
                  <img src="/css/assets/scroll-down.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- End Section 1 -->
    
    <!-- Start Section 2 -->
    <div class="bg-image" id="section2">
        <div class="container-fluid d-flex flex-row justify-content-center" id="section2-text">
            <div class="container">
                <div class="row align-items-center" id="special">
                    <!-- collumn only have "x" bar so col 4 is 4 bar nad col 8 is the rest -->
                    <div class="col-md-5">
                        <h3 class="h3-responsive">What's So Special?</h3>
                        <h1 class="h1-responsive">THE GAMES</h1>
                    </div>
                    <div class="col-md-5">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="/css/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="/css/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="/css/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="/css/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="/css/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section 2 -->
    <!-- Start Section 3 -->
    <div class="bg-image" id="section3">
        <div class="container-fluid d-flex flex-row justify-content-center" id="section3-text">
            <div class="container-sm">
              <div class="row align-items-center">
                <div class="col-12" id="feature">
                  <h2>What's So Special?</h2>
                  <h1 class="mb-5">Features</h1>
                  <h2 class="tag1">TRADITIONAL GAMES</h2>
                  <p class="mb-5">if you miss your childhood, we provide many traditional games here</p>
                  <div class="tag2 mb-5">
                    <h2>GAME SUIT</h2>
                  </div>
                  <div class="tag3">
                    <h2>TBD</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- End Section 3 -->
    <!-- Start Section 4 -->
    <div class="bg-image" id="section4">
      <div class="container-sm" id="ghaw">
        <div class="mt-5">
          <p class="text-center text-light mb-5">Can My Computer Run this game?</p>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-12-md text-light mt-3" id="section4-text">
              <h1>SYSTEM</h1>
              <h1>REQUIREMENTS</h1>
                <table class="table-bordered my-table">
                  <tr>
                  <td>
                    <div>OS:</div>
                    <div>Windows 7 64-bit only
                      <br>
                    (NO OSX support at this time)</div>
                  </td>
                  <td>
                    <div>PROCESSOR:</div>
                    <div>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @2.8 GHZ
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>MEMORY:</div>
                    <div>4 GB RAM </div>
                  </td>
                  <td>
                    <div>STORAGE:</div>
                    <div>8 GB available space
                  </td>
                </tr>
                <tr>
                <!-- To make it longer and take 2 cell -->
                  <td colspan="2">
                    <div>GRAPHICS:</div>
                    <div>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                  </div>
                  </td>
                </tr>
              </table>
              </div>
          </div>
      </div>
    </div>

    <!-- End Section 4 -->
    <!-- Section 5 -->
    <!-- Try to use this below as backround so it doenst bleed -->
    <div class="container-fluid d-flex flex-row justify-content-center" id="section5">
      <div class="container">
          <div class="row d-flex align-items-center" id="special">
              <div class="col-md-5 text-light">
                <h1>TOP SCORES</h1>
                <p>This top score from various games provided on this platform</p>
                <a href="#">
                  <button type="button" class="btn btn-warning btn-lg" style="margin-top: 20px;">see more</button>
                </a>
              </div>
              <div class="col-md-7">
                <!-- Card 1 -->
                <div class="d-flex justify-content-end mb-3">
                  <div class="card bg-dark text-light" style="max-width: 400px;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2 d-flex align-items-start">
                          <img class="mt-3" src="/css/assets/evan-lahti.jpg" alt="" style="border-radius: 100%;">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body p-4">
                            <h5 class="card-title">Evan Lahti</h5>
                            <small>PC Gamer</small>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <img src="/css/assets/twitter.svg" alt="">
                        </div>
                      </div>
                      <div class="row">
                        <p>"One of my gaming highlights of the year"</p>
                        <p class="card-text"><small class="text-muted">June 18, 2021</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Card 1 -->

                <!-- Card 2 -->
                <div class="d-flex justify-content-start mb-3">
                  <div class="card bg-dark text-light" style="max-width: 400px;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2 d-flex align-items-start">
                          <img class="mt-3" src="/css/assets/jada-griffin.jpg" alt="" style="border-radius: 100%; width: 70px;">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body p-4">
                            <h5 class="card-title">Jada Griffin</h5>
                            <small>Nerdreactor</small>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <img src="/css/assets/twitter.svg" alt=""">
                        </div>
                      </div>
                      <div class="row">
                        <p>"The next big thing in the world of streaming and survival games"</p>
                        <p class="card-text"><small class="text-muted">June 18, 2021</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Card 2 -->

                <!-- Card 3 -->
                <div class="d-flex justify-content-end">
                  <div class="card bg-dark text-light" style="max-width: 400px;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2 d-flex align-items-start">
                          <img class="mt-3" src="/css/assets/aaron-williams.jpg" alt="" style="border-radius: 100%; width: 70px;">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body p-4">
                            <h5 class="card-title">Aaron Williams</h5>
                            <small>Uproxx</small>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <img src="/css/assets/twitter.svg" alt="">
                        </div>
                      </div>
                      <div class="row">
                        <p>"Snoop Dogg Playing The Wildy Entertaining 'SOS' Is Ridiculous"</p>
                        <p class="card-text"><small class="text-muted">December 24, 2021</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Card 3 -->
              </div>
          </div>
      </div>
    </div>
<!-- End Section 5 -->

<!-- Section 6 -->
  <div class="container-fluid" id="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="/css/assets/skull.png" alt="">
        </div>
        <div class="col-md-6 text-light">
          <h3>Want to Stay in touch</h3>
          <h1>NEWSLETTER </h1>
          <h1>SUBSCRIBE</h1>
          <p>In order to start receiving our news, all you have to do is enter
            your email address. Everything else will be taken care of by us. We will send your emails
            containing information about game. We don't spam.</p>
            <div class="row">
              <div class="col-md-8">
                <input type="email" placeholder="youremail@binar.co.id" style="min-width: 100%;">
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-warning pt-1" style="font-size:15px; height: 32px;">Subscribe Now</button>
              </div>
            </div>
        </div>
      </div>

      <!-- Start Footer 1 -->
      <div class="footer">
        <!-- we have 2 navbar -->
        <!-- Navbar 1 (Main about etc) -->
        <div class="row">
          <div class="col-md-9">
            <nav class="navbar navbar-dark d-flex justify-content-start ">
              <div class="container-fluid">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">MAIN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">GAME FEATURES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">SYSTEM REQUIREMENTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">QUOTES</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <!-- End of Navbar 1 -->

          <!-- Navbar 2 (icon) -->
          <div class="col-md-3">
            <div class="navbar navbar-dark d-flex justify-content-end">
              <div class="container-fluid">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">
                      <img src="/css/assets/facebook.svg" alt="">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">
                      <img src="/css/assets/twitter.svg" alt="">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">
                      <img src="/css/assets/vector.svg" alt="">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">
                      <img src="/css/assets/twitch.svg" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>  <!-- End of Navbar 2 -->
      </div> <!-- End of Footer 1 -->
      <hr class="bright-hr">
      <!--start footer 2 -->
      <div class="row text-light">  
        <div class="col-md-6">
          <p>© 2018 Your Games, Inc. All Rights Reserved</p>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <p>PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
        </div>
      </div> 
    </div>
  </div>
</body>
</html>

