<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="style-play.css"> -->
    <script src="/script.js"></script>

    <title>Play Now</title>
</head>
<body>
    <!-- Navbar -->
    <%- include ("header-play.ejs") -%>
    <nav class="navbar d-flex justify-content-start">
        <div class="container-fluid">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/" class="navbar-brand">
                        < 
                        <img src="/css/assets/assets/logo.png" alt="">
                    </a>
                </li>
                <li class="nav-item m-auto">
                    <h3>Rock Paper Scissors</h3>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <!-- Player 1 -->
            <!-- onClick method we pass argument -->
            <div class="col-md-4 text-center">
                <h2>Player 1</h2>
                <div class="choice mt-5" id="choice">
                    <img src="/css/assets/assets/batu.png" alt="" id="batuPlayer" onclick="play('batu')">
                </div>
                <div class="choice mt-5" id="choice">
                    <img src="/css/assets/assets/kertas.png" alt="" id="kertasPlayer" onclick="play('kertas')">
                </div>
                <div class="choice mt-5" id="choice">
                    <img src="/css/assets/assets/gunting.png" alt="" id="guntingPlayer" onclick="play('gunting')" >
                </div>
            </div>
            <!-- VS -->
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center versus">
                <h1 id="vs">VS</h1>
            </div>
            <!-- CPU -->
            <div class="col-md-4 text-center">
                <h2>COM</h2>
                <div class="choice mt-5">
                    <img src="/css/assets/assets/batu.png" alt="" id="batuCOM">
                </div>
                <div class="choice mt-5">
                    <img src="/css/assets/assets/kertas.png" alt="" id="kertasCOM">
                </div>
                <div class="choice mt-5">
                    <img src="/css/assets/assets/gunting.png" alt="" id="guntingCOM">
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Content -->
    <div class="container refresh">
        <div class="row">
            <div class="col-md-12  text-center">
                <img src="/css/assets/assets/refresh.png" alt="" id="restart" onclick="restart()">
            </div>
        </div>
    </div>

</body>
</html>