<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    


    <form action="/update/ <%= userGame.userGameId %>" method="POST">
        <label for="username">New Username</label>
        <input type="text" name="usernameUpdate" value="<%= userGame.userGameUsername %>">
        <br>
        <label for="password">New Password</label>
        <input type="password" name="passwordUpdate" value="<%= userGame.userGamePassword %>">
        <br>
        <label for="repassword">Retype Password</label>
        <input type="password" name="repassword" value="<%= userGame.userGamePassword %>">
        <br>
        <label for="name">New Name</label>
        <input type="text" name="nameUpdate" value="<%= userGameBios.name %>">
        <br>
        <label for="email">New Email</label>
        <input type="email" name="emailUpdate" value="<%= userGameBios.email %>">
        <br>
        <label for="gender">New Gender</label>
        <input type="text" name="genderUpdate" value="<%= userGameBios.gender%>">
        <br>
        <label for="win">New Win</label>
        <input type="number" name="winUpdate" value="<%= userGameHistory.win %>">
        <br>
        <label for="loss">New Loss</label>
        <input type="number" name="lossUpdate" value="<%= userGameHistory.loss %>">
        <br>
        <label for="hrsplay">New Hours Played</label>
        <input type="number" name="hrsplayUpdate" value="<%= userGameHistory.timePlayhrs %>">
        <br>
        <label for=""><%= warning %></label>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>